---
layout: page
title: Contact Information
---

    <address>
        <p><strong>{{site.author}}</strong></p>
		<p>Please contact me via email</p>
        <p><i class="icon-mail"></i> <a href="{{site.tickets}}">{{site.author_email}}</a></p>
		<p>or via IRC</p>
		<p><i class="icon-globe"></i> <a href="{{site.webchat}}">Digital IRC Webchat</p>
    </address>

