---
layout: default
title: Home
---
        <div class="span9">
          <div class="row-fluid">
            <div class="span4">
              <h2>DigitalIRC Motd</h2>
              <p>Various files used to generate IRCd MOTD's for the DigitalIRC network</p>
              <p><a class="btn" href="/DigitalIRC-motd/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>DigitalIRC Webchat</h2>
              <p>Customised version of Rizon's QChat which is based off of qwebIRC webchat on quakenet</p>
              <p><a class="btn" href="/webchat/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Web Services</h2>
              <p>Forked version of EGs web interface for atheme services by jnewing</p>
              <p><a class="btn" href="/web-services/">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Random</h2>
              <p>Repository for files which do various things. From installing IRCd's to generating motd files</p>
              <p><a class="btn" href="/random/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>DigitalIRC-site</h2>
              <p>Testbed for trying various site styles and HTML for the DigitalIRC sites</p>
              <p><a class="btn" href="/DigitalIRC-site/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>digitalirc.github.io</h2>
              <p>Repo for the digitalirc github website.</p>
              <p><a class="btn" href="/">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div>