      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><a href="{{page.maingitlink}}">{{page.maingitname}}</a></li>
              <li><a href="{{page.secondgitlink}}">{{page.secondgitname}}</a></li>
              {% if page.enablesecondlinks %}<li class="nav-header">Sidebar</li>
              {% if page.2-1name %}<li><a href="{{page.2-1link}}">{{page.2-1name}}</a></li>{% endif %}
              {% if page.2-2name %}<li><a href="{{page.2-2link}}">{{page.2-2name}}</a></li>{% endif %}
              {% if page.2-3name %}<li><a href="{{page.2-3link}}">{{page.2-3name}}</a></li>{% endif %}
              {% if page.2-4name %}<li><a href="{{page.2-4link}}">{{page.2-4name}}</a></li>{% endif %}{% endif %}
             </ul>
          </div>
        </div>
      </div>