<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />

    <!-- Le styles -->
  <link rel="stylesheet" href="/resources/fontello/css/fontello.css">
  <link rel="stylesheet" href="/resources/fontello/css/animation.css">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="http://www.digitalirc.org/wp-content/uploads/2012/09/rsz__4.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="http://www.digitalirc.org/wp-content/uploads/2012/09/rsz__2.png" />
    <style type="text/css">
  
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/javascript/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://www.digitalirc.org/wp-content/uploads/2012/09/favicon.png" />
    <link rel="icon" href="http://www.digitalirc.org/wp-content/uploads/2012/09/rsz__4.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="http://www.digitalirc.org/wp-content/uploads/2012/09/rsz__2.png" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a title="{{site.description}}" class="brand" href="/">{{ site.name }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li {% if page.url == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if page.url == '/DigitalIRC-motd/' %}class="active"{% endif %}><a href="/DigitalIRC-motd/">DigitalIRC motd</a></li>
            <li {% if page.url == '/webchat/' %}class="active"{% endif %}><a href="/webchat/">DigitalIRC-Webchat</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
{{ content }}
    
      <hr>
      <footer>
      <p align="right" class="muted credit">&copy; Adamus1red 2013.</p>
      </footer>
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/bootstrap-transition.js"></script>
    <script src="/javascript/bootstrap-alert.js"></script>
    <script src="/javascript/bootstrap-modal.js"></script>
    <script src="/javascript/bootstrap-dropdown.js"></script>
    <script src="/javascript/bootstrap-scrollspy.js"></script>
    <script src="/javascript/bootstrap-tab.js"></script>
    <script src="/javascript/bootstrap-tooltip.js"></script>
    <script src="/javascript/bootstrap-popover.js"></script>
    <script src="/javascript/bootstrap-button.js"></script>
    <script src="/javascript/bootstrap-collapse.js"></script>
    <script src="/javascript/bootstrap-carousel.js"></script>
    <script src="/javascript/bootstrap-typeahead.js"></script>
    <script src="/javascript/analytics.js"></script>

  </body>
</html>
