---
layout: default
---
{% include sidebar.html %}
    <div class="span9">
        <div class="post">

        <h2>{{ page.title }}</h2>

	    <div class="entry">{{ content }}</div>

        </div>
    </div>
